.btnAzienda{
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;
    background: #0d6efd;
    border: #0d6efd 6px solid; 
    border-radius: 30px;
}

.controller-button{
    background-color: aliceblue;
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}